* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --color-logo: #2F8DCB;
    --color-disabled: rgba(47, 141, 203, 0.5);
    --color-dark-gray: #333;
    --color-gray: #4C4C4C;
    --color-lang-gray: #777777;
    --color-light-gray: #ECEEF1;
    --color-light-gray-hover: rgba(246, 246, 246, 0.4);
    --color-border-gray: #C1C5C8;
    --color-light-blue: #f3f9ff;
}

.usual_link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-logo);
    padding: 5px 0;
    font-family: 'Roboto';
}

.usual_link:hover {
    text-decoration: underline;
}

.main__block {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.show {
    display: flex !important;
}

.hidden {
    display: none !important;
}

body {
    background-color: #f1f1f1;
    height: 100vh;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 100px 0 30px;
}

#oldBrowser{
    width: 100%;
    flex-direction: column;
}

#oldBrowser p{
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}


.download__browser_links span{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.download__browser_links span img{
    width: 44px;
    height: 44px;
}
.download__browser_links span svg{
    width: 44px;
    height: 44px;
}

.download__browser_links{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#appMain {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.app_header {
    margin-bottom: 30px;
}

.app_main {
    width: 100%;
    background-color: #fff;
    min-height: 100px;
    border-radius: 5px;
    overflow: visible;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    margin-top: 20px;
    font-family: 'Roboto';
    color: var(--color-gray);
    font-size: 24px;
    font-weight: 400;
}

#mainBlock {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid var(--color-border-gray);
}

#infoSignTitle {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--color-dark-gray);
    box-sizing: border-box;
    padding: 15px 30px 0;
    text-align: center;
    width: 100%;
}

#signInWithECP, #regWithECP {
    padding: 0 !important;
}

#regWithECP{
    flex-direction: column;
}

#notFound{
    padding: 30px;
    align-items: center;
    flex-direction: column;
}

#notFound i{
    color: #e1b12c;
    font-size: 30px;
    margin-bottom: 10px;
}

#notFound p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark-gray);
    width: 100%;
    text-align: center;
}

#notFound a{
    font-size: 16px;
    font-style: italic;
}

.main__menu_with_ecp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.main__list_with_ecp {
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray);
}

/*
.main__list_with_ecp:last-child{
    border-bottom: none;
}*/

.main__link_with_ecp {
    width: 100%;
    padding: 20px 40px 20px 20px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

.main__link_with_ecp:hover {
    background-color: var(--color-light-gray-hover);
}

.main__link_with_ecp.active {
    background-color: var(--color-light-blue);
}

.logo {
    margin-right: 20px;
}

.logo i {
    color: var(--color-logo);
    font-size: 30px;
}

/*
.logo img{
    width: 50px;
}*/

.details {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.details span {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray);
    margin-bottom: 7px;
}

.details span:first-child {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.details span:last-child{
    margin-bottom: 0;
}

.ecp_info {
    position: absolute;
    top: 20px;
    right: 20px;
}

.ecp_info > i {
    font-size: 18px;
    color: var(--color-border-gray);
}

.ecp_info > i:hover {
    color: var(--color-logo);
}

.ecp_info > i:hover + .ecp_info__text {
    display: flex;
}

.ecp_info__text {
    font-size: 12px;
    display: none;
    background-color: var(--color-border-gray);
    width: max-content;
    padding: 5px;
    color: var(--color-gray);
    position: absolute;
    right: -200px;
    bottom: 0;
    font-family: Roboto;
    border-radius: 3px;
}

.ecp_info__text::before {
    content: '';
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: 10px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--color-border-gray);
    transform: rotate(-130deg);
}

.other_methods_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
}

.or_block {
    font-size: 15px;
    display: flex;
    color: var(--color-border-gray);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#or {
    font-family: Roboto;
}

.or_block .line {
    display: flex;
    height: 1px;
    width: 40%;
}

.or_block .line:first-child {
    background-image: linear-gradient(to right, #fff, var(--color-border-gray));
    border-radius: 0 1px 1px 0;
}

.or_block .line:last-child {
    background-image: linear-gradient(to right, var(--color-border-gray), #fff);
    border-radius: 1px 0 0 1px;
}

.use_other_method {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

/*.use_other_method a {
    font-size: 14px;
    font-family: 'Roboto';
    width: 100%;
    border: 1px solid var(--color-logo);
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}*/

/*.use_other_method a:hover {
    background-color: var(--color-logo);
    color: #fff;
}*/

#condition{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center;
}

#condition p{
    font-family: Roboto;
    font-style: italic;
    font-size: 12px;
    color: var(--color-border-gray);
}

#condition p a{
    font-size: 12px;
}

.create_account_block {
    background-color: var(--color-light-gray);
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    color: var(--color-dark-gray);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.create_account_block a{
    font-size: 14px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 20px 0 10px;*/
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.field:first-child{
    padding-top: 20px;
}

.field i {
    font-size: 22px;
    color: var(--color-gray);
    margin-right: 20px;
}
.field > .small-description{
    padding: 5px 0;
    font-family: 'Roboto';
    font-size: 10px;
    color: #b63535;
}

#letters, #numbers{
    padding: 0;
}

.field > .stop {
    position: absolute;
    right: -15px;
    margin-top: 38px;
    display: none;
}

.field > .stop > i {
    color: #b63535;
    font-size: 18px;
}

.field label {
    font-family: Roboto;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 6px;
    color: var(--color-gray);
}

.field input {
    font-size: 16px;
    font-family: Roboto;
    color: var(--color-dark-gray);
    border: 1px solid var(--color-border-gray);
    padding: 6px 6px 6px 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff;
}

.field input[disabled=disabled] {
    font-size: 16px;
    font-family: Roboto;
    color: var(--color-dark-gray);
    border: 1px solid var(--color-border-gray);
    background-color:var(--color-light-gray);
    padding: 6px 6px 6px 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.field textarea {
    min-width: 320px;
    max-width: 320px;
    font-size: 18px;
    font-family: Roboto;
    color: var(--color-dark-gray);
    border: 1px solid var(--color-border-gray);
    padding: 10px 5px;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.field input:focus {
    outline: none;
    border: 1px solid var(--color-logo);
    box-shadow: 0 0 2px var(--color-logo);
}

.field textarea:focus {
    outline: none;
    border: 1px solid var(--color-logo);
    box-shadow: 0 0 2px var(--color-logo);
}

.field input::placeholder {
    color: var(--color-border-gray);
}

.form_footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    flex-direction: row-reverse;
}

.form_footer.center{
    justify-content: center;
}

.form_footer p{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 16px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--color-logo);
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--color-logo);
}

.form_footer.center .btn{
    max-width: 100%;
}

#formRegWithLogin .form_footer{
    margin-bottom: 20px;
}

.btn:hover {
    background-image: linear-gradient(#3795d5,var(--color-logo));
}

.btn[disabled=disabled]{
    background: var(--color-disabled);
}
.btn[disabled=disabled]:hover{
    background: var(--color-disabled);
}

.btn:active {
    color: #fff;
    background-color: var(--color-logo);
    border: 1px solid var(--color-logo);
    box-shadow: 0 0 2px var(--color-logo);
}

.btn:focus {
    border: none;
    outline: none;
}

#checkYourEmail{
    flex-direction: column;
    padding: 30px 30px 0 30px;
    align-items: center;
}

#checkYourEmail i{
    color: #2F8DCB;
    font-size: 70px;
    margin-bottom: 10px;
}

#checkYourEmail p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark-gray);
    width: 100%;
    text-align: center;
}

#checkYourEmail a{
    font-size: 16px;
    font-style: italic;
}



/*Footer*/
#appFooter {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

#appFooter p {
    font-size: 12px;
    color: var(--color-dark-gray);
    font-family: 'Roboto';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#appFooter p > a{
    font-size: 12px;
    margin-right: 15px;
}

.change_language_block{
    position: relative;
}

.change_language_block button{
    font-family: Roboto;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.change_language_block button:hover{
    text-decoration: none;
}

.change_language_block span{
    position: absolute;
    display: flex;
    top: -5px;
    left: 10px;
    height: 0;
    width: max-content;
    font-size: 0;
    transition: .5s all;
}

.change_language_block span a{
    color: var(--color-lang-gray);
    font-size: inherit;
    font-weight: 500;
}

.change_language_block span.active{
    font-size: 12px;
    height: 25px;
    top: -25px;
    left: -140%;
}


#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #ccc;
}

#loading img{
    width: 100px;
}

.spinner {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #2F8DCB;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}